@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	padding: 10px;
	text-align: center;

	font-family: 'Open Sans', sans-serif;
	color: #666;
}

.tabs {
	min-height: 350px;
	margin: 0 auto;
	padding: 25px;
	background: gray;
	border-radius: 5px;
	background-color: #fff;
	background-size: cover;
	box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
}

nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: no-wrap;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 600px) {
	nav {
		overflow-y: scroll;
	}

	nav::-webkit-scrollbar {
		width: 0px;
	}
}

nav a {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;

	padding: 15px;
	text-align: center;
	vertical-align: bottom;
	background-color: #fff;
	font-weight: normal;
	font-size: 18px;
	text-decoration: none;
	color: currentColor;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

nav a:hover {
	cursor: pointer;
}

nav a.active {
	background-color: #ffe033;
	border-radius: 100px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

#content {
	background-color: #f9f9f9;
	padding: 15px;
}

h1 {
	font-weight: normal;
	color: #333;
}

p {
	padding: 15px 0 25px;
}

#preloader {
	padding: 10px;
	background-color: #f9f9f9;
}

.hidden {
	display: none;
}
